<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PMRedirect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PMRedirect.Properties.Settings>
            <setting name="uids" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>vMi13IPasnYfvPC+S1rXF0HoTkA=</string>
                        <string>Q/LO36T/x8Ce/gy09HX9D+Qkrqg=</string>
                        <string>dUvDe923foCr7xl7SgSpFC7lLVY=</string>
                        <string>eVAaW2DkZC8qhLLM2io3xP4NjxM=</string>
                        <string>8srLXv9vEsHkkSiz2+aT75s/CoA=</string>
                        <string>Ou7uQHY7khdrAiOwwMcDmwTW2nU=</string>
                        <string>e3dvocUFTE1UWIvtW8qzulnWErI=</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="enabled" serializeAs="String">
                <value>True</value>
            </setting>
        </PMRedirect.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
