<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NowPlaying.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NowPlaying.Properties.Settings>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value></value>
            </setting>
            <setting name="MetaData" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ChannelChat" serializeAs="String">
                <value></value>
            </setting>
            <setting name="PrivateChat" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ServerChat" serializeAs="String">
                <value></value>
            </setting>
            <setting name="NickName" serializeAs="String">
                <value></value>
            </setting>
            <setting name="PluginCommand" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ChannelName" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ChannelTopic" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ChannelDescription" serializeAs="String">
                <value></value>
            </setting>
        </NowPlaying.Properties.Settings>
    </userSettings>
</configuration>